name: 20 - reusable-workflows -reusable-definition


on:
  workflow_call:
          inputs:
            target-directory:
              description: 'Target directory to run tests and build'
              type: string
              required: true
              default: '17-custom-actions/react-app'
          outputs:
            build-status: 
              description: 'Status of the build process'
              value: ${{ jobs.deploy.outputs.build-status }}
            url:
              description: 'The URL of the deployed version.'
              value: ${{ jobs.deploy.outputs.url }}
             
    
jobs:
    deploy:
        runs-on: ubuntu-latest
        outputs:
          build-status: ${{ steps.build.outputs.build-status }}
          url: ${{ steps.deploy.outputs.url }}
          
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v6
            - name: Build
              id: build
              run: |
                echo "Building project in directory:"
                echo "Build-status = success" >> $GITHUB_OUTPUT"
            - name: Deploy
              id: deploy
              run: |
                echo "Deploying build using ${{ inputs.target-directory }}"
                echo "url=https://google.com" >> $GITHUB_OUTPUT"
 
    
            