name: 22 - Workflow Security

on:
    pull_request:
        
jobs:
    unsafe-pr:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v6
            - name: Check PR Title
              run: |
                title="${{ github.event.pull_request.title }}"
                if [[ "$title" ~= ^feat ]]; then
                echo "Feature PR detected."
                else
                echo "Non-feature PR detected."
                exit 1
                fi